{% include 'base.html' %}


  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#home">Home</a></li>
    <li class="active"><a data-toggle="tab" href="#start">Start Node</a></li>
    <li><a data-toggle="tab" href="#menu2">Restart Node</a></li>
    <li><a data-toggle="tab" href="#menu3">Memory clear</a></li>
  </ul>
  <div class="tab-content">

    <div id="start" class="tab-pane fade in active">
      <h3>Start Node</h3>

      <p>   <form action="/startall" method="post" id="startall">

          <button type="submit" class="btn btn-info">Start All</button>
    </form>
         <form action="/start" method="post" id="submitform">
          <button type="submit" class="btn btn-info">Start</button></p>
                        <div class="container">

                <div class="list-group">
                    {% for i in vm %}
                        <input type="checkbox" name="check" value="{{ i }}" id="{{ i }}"/>
                        <label class="list-group-item" for="{{ i }}">{{ i }}</label>
                    {% endfor %}

                </div>


            </div>
        </form>


    </div>

  </div>
</div>

</body>
</html>

